@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left {
    font-size: 1.5rem;
}

.header-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.header-right a:hover {
    text-decoration: underline;
}