/* fade animation for landing page */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-family: 'Public Sans', sans-serif;
}

a {
    color: black;
}

/*--======= NAV BAR =======--*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}
  
.navbar ul li {
    display: inline-block;
    margin: 0 20px;
}
  
.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}
  
.navbar ul li a:hover {
    color: #0029FF;
}

/* style for the active/current page link */
.navbar ul li a.active {
    color: #0029FF;
  }

/*--======= LANDING PAGE =======--*/
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.landing-page img.profile-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.landing-page h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    animation: fadeIn 3s ease-in;
}

/*--======= ABOUT PAGE =======--*/
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 50px;
    text-align: justify;
}

.bio h2 {
    font-family: 'Poppins', sans-serif;
    color: #0029FF;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.bio p {
    margin-bottom: 10px;
    max-width: 600px;
    width: 100%;
    margin: 10px 0;
    line-height: 1.5;
}

.bio a:hover {
    color: #0029FF;
}

.two-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* match bio */
    margin-left: auto;
    margin-right: auto;
}

.two-col-container h2 {
    font-family: 'Poppins', sans-serif;
    color: #0029FF;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 600px;
    gap: 40px;
}

.grid-item {
    text-align: justify;
    line-height: 1.5;
}

/* for smaller screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 50px
    }
}

/*--======= FOOTER =======--*/
footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-links a img {
    width: 30px;
    height: 30px;
}

footer a {
    text-decoration: none;
}