/*
color palette ideas
0A0F0D 2A7F62 DEC0F1 EFF2C0 3772FF, maybe E5F9E0 06AED5

original
0029FF

✷

*/

/*--======= FONTS =======--*/

@font-face {
    font-family: 'PP Neue Montreal Book';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/css/fonts/ppneuemontreal-book.woff') format('woff'), url('/assets/css/fonts/ppneuemontreal-book.woff2') format('woff2');
}

@font-face {
    font-family: 'PP Neue Montreal Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/css/fonts/ppneuemontreal-medium.woff') format('woff');
}

@font-face {
    font-family: 'PP Neue Montreal Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/css/fonts/ppneuemontreal-bold.woff') format('woff');
}

/*--======= BASICS =======--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-bg-green: #2A7F62;
    --color-bg-isabelline: #F2EFEA;
    --color-fg-cream: #EFF2C0;
    --color-fg-main: #0A0F0D;
    --color-fg-crayola: #3772FF;
    --color-fg-mauve: #DEC0F1;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

h3 {
    font-family: 'PP Neue Montreal Medium', sans-serif;
    margin-bottom: 10px;
}

a {
    color: var(--color-fg-main)
}

p {
    font-family: 'PP Neue Montreal Book', sans-serif;
    color: var(--color-fg-main);
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: linear-gradient(#D8A7CA 10%, #0029ff);
    filter: blur(100px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

/*--======= NAV BARS =======--*/
.navbar, .navbar-home {
    /* background-color: #DBD56E; */
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* push to the right */
    box-sizing: border-box;
}

.navbar ul, .navbar-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* horizontal layout */
    gap: 20px; /* adds space between links */
}
  
.navbar ul li a, .navbar-home ul li a {
    text-decoration: none;
    font-family: 'PP Neue Montreal Medium', sans-serif;
    padding: 5px 10px;
    transition: color 0.3 ease;
}

/*--======= LANDING PAGE =======--*/
.navbar-home {
    background-color: var(--color-bg-green);
}
  
.navbar-home ul li a:hover {
    color: var(--color-fg-cream)
}

/* style for the active/current page link */
.navbar-home ul li a.active {
    color: var(--color-fg-cream);
}

.landing-page {
    background-color: var(--color-bg-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.landing-page a {
    transition: color 0.3 ease;
}

.landing-page a:hover {
    color: var(--color-fg-mauve);
}

.landing-page img.profile-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.typewriter-container {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--color-fg-cream);
}

.blink {
    animation: blink-animation 1s steps(1, end) infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

.work-button, .resume-button {
}

.work-button:hover, .resume-button:hover {
}

/*--======= BIO SECTION (LANDING PAGE) =======--*/
.bio {
    background-color: var(--color-bg-isabelline);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* flex alignment adjustment */
    padding: 80px;
}

.bio h2 {
    /* color: #6184D8; */
    color: var(--color-fg-crayola);
    margin-top: 30px;
    font-size: 1.75rem;
}

.bio h3 {
    /* color: #0A0F0D #272727; */
    color: var(--color-fg-main);
    max-width: 60%;
    font-size: 1.75rem;
}

.bio p {
    margin-bottom: 10px;
    max-width: 60%;
    line-height: 1.25;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .bio h2, .bio h3, .bio p {
        max-width: 90%;
    }

    .bio {
        padding: 40px;
    }
}

/*
.work-button {
    margin-top: 30px;
    background-color: #0A0F0D;
    color: white;
    border: none;
    width: 250px;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    transition: background-color 0.3s ease;
}

.work-button:hover {
    background-color: #ea95d2;
}
*/

.tab-link {
    margin-top: 30px;
    font-family: 'PP Neue Montreal Medium', sans-serif;
    font-size: 1.25rem;
    transition: color 0.3 ease;
}

.tab-link:hover {
    /* color: #FF9F1C; */
    /* color: #804E49; */
    color: #3AB795;
}

/*--======= GEN FACTS (ABOUT PAGE) =======--*/
.gen-about {
}

.gen-about-container {
}

.about-text {
}

.about-text h2 {
}

.about-photo {
}

.hobbies {
}

.hobbies h2 {
}

.hobbies-grid {
}

.hobby {
}

/* responsiveness for smaller screens */
@media (max-width: 768px) {

}

/*--======= WORK PAGE =======--*/
.work-experience {
}

/*--======= FOOTER =======--*/

footer {
    /* background-color: #DBD56E; */
    background-color: var(--color-bg-isabelline);
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* push to the right */
    box-sizing: border-box;
}

.footer-links {
    display: flex;
    padding: 5px 10px;
    gap: 20px;
}

.footer-links a img {
    width: 30px;
    height: 30px;
}

footer a {
    text-decoration: none;
    font-family: 'PP Neue Montreal Medium', sans-serif;
}